*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-container{
    border: 2px solid black;
    background-color:lightblue;
    margin: 10px;
    
}
form{
    margin-left: 10px;
}
.input-part{
    margin-left: 50px;
}
.input-part input{
    margin-left: 8px;
}
.btn{
    margin-top: 4px;
    margin-bottom: 5px;
}
.btn input{
    padding: 7px 7px;
    
}
.course{
margin-bottom: 7px;
}